/* NAV BAR */
.container {
  width: 100%;
}

.nav-list-links {
  list-style-type: none;
  display: flex;
}

.nav-list > a {
  text-decoration: none;
  color: black;
}

.nav-list-left {
  float: left;
  width: 10%;
  justify-content: space-evenly;
}

.nav-list-right {
  float: right;
  width: 22%;
  justify-content: space-evenly;
}

/*NAV IMAGE STYLING */
#google-app-icon {
  width: 30px;
  height: 30px;
  justify-content: right;
}

#profile-pic-img {
  width: 40px;
  height: 40px;
  align-items: right;
  border-radius: 50%;
}

/* GOOGLE LOGO */
.google-logo {
  position: fixed;
  width: 20%;
  top: 30%;
  left: 40%;
}

/* SEARCH BOX */
.search-box {
  position: fixed;
  top: 44%;
  left: 32%;
  width: 35%;
  height: 4%;
  border-radius: 20px;
}
